@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables base */
:root {
  --background: #f8fafc;
  --foreground: #1a1b1f;

  /* Scrollbar colors for Light Mode */
  --scrollbar-track: #e2e8f0;
  --scrollbar-thumb: #898b8f;
}

.dark {
  --background: #1a1b1f;
  --foreground: #f8fafc;

  /* Scrollbar colors for Dark Mode */
  --scrollbar-track: #2a2d32;
  --scrollbar-thumb: #1a1b1f;
}

/* Reset global styles */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Elimina cualquier scroll no deseado */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track); /* Usar variable para el fondo */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb); /* Usar variable para el thumb */
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid var(--scrollbar-track); /* Bordes del thumb */
}

/* Asegura que los hijos se ajusten al contenedor */
#root > * {
  height: 100%;
  width: 100%;
}
